/* base */

@font-face {
    font-family: 'Roboto-Regular';
    src: url('fonts/Roboto-Regular.eot');
    src: url('fonts/Roboto-Regular.eot') format('embedded-opentype'), url('fonts/Roboto-Regular.woff2') format('woff2'), url('fonts/Roboto-Regular.woff') format('woff'), url('fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 20px;
    line-height: 23.44px;
    color: #000;
    margin: 0;
    position: relative;
}

.container {
    max-width: 1290px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media(max-width: 600px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}


/* pop-up */

.pop-up {
    background-color: #000000;
    opacity: 0.9;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

@media(max-width: 710px) {
    .pop-up {
        align-items: flex-start;
    }
}

.pop-up__block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: #ffffff;
    opacity: 1;
}

@media(max-width: 710px) {
    .pop-up__block {
        margin-top: 130px;
    }
}

@media(max-width: 550px) {
    .pop-up__block {
        width: 300px;
        height: 300px;
    }
}

.pop-up__block-btn {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 15px 32px 16px 63px;
}

.pop-up__block-btn::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 35px;
    background-image: url(img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    width: 20px;
    height: 20px;
    background-position: -5px -5px;
}

.btn:hover {
    background-color: #000000;
    border-color: #000000;
    color: #ffffff;
    transition: all 0.3s;
}

.noshown {
    display: none;
}


/* header */

.header {
    background-color: #c4c4c4;
    padding-top: 26px;
    padding-bottom: 26px;
}

.header__contant {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width: 710px) {
    .header__contant {
        position: relative;
    }
}

.header__contant-menu {
    display: flex;
    list-style: none;
}

@media(max-width: 710px) {
    .header__contant-menu {
        display: none;
    }
}

.header__contant-menu-item {
    margin-right: 40px;
}

.header__contant-menu-item:last-child {
    margin-right: 0;
}

.header__contant-menu-link {
    color: #000000;
    text-decoration: none;
}

.header__contant-menu-link:hover {
    opacity: 0.4;
    transition: all 0.3s;
}


/* burger-menu */

.burger-menu {
    display: none;
}

@media(max-width: 710px) {
    .container-burger {
        padding: 0;
    }
    .burger-menu {
        display: block;
    }
    .menu-btn {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        right: 15px;
        width: 45px;
        height: 45px;
        cursor: pointer;
        z-index: 1;
    }
    .menu-btn>span,
    .menu-btn>span::before,
    .menu-btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #000000;
        transition-duration: .25s;
    }
    .menu-btn>span::before {
        content: '';
        top: -8px;
    }
    .menu-btn>span::after {
        content: '';
        top: 8px;
    }
    .menubox {
        display: block;
        position: absolute;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #ECEFF1;
        transition-duration: 1.2s;
        z-index: 999;
    }
    .menu-item {
        display: block;
        padding: 12px 24px;
        color: #000000;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 400;
        text-decoration: none;
        transition-duration: 0.3s;
        text-align: center;
    }
    .menu-item:hover {
        opacity: 0.4;
    }
    #menu-toggle {
        opacity: 0;
    }
    #menu-toggle:checked~.menu-btn>span {
        transform: rotate(45deg);
    }
    #menu-toggle:checked~.menu-btn>span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu-toggle:checked~.menu-btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu-toggle:checked~.menubox {
        visibility: visible;
        left: 0;
        top: 70px;
        width: 100%;
        height: 500px;
        background-color: #c4c4c4;
    }
}


/* main */

.main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 75px;
    margin-bottom: 75px;
}

@media(max-width: 1010px) {
    .main {
        justify-content: space-around;
    }
}

@media(max-width: 710px) {
    .main {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
}

.square {
    width: 410px;
    height: 410px;
    margin-right: 30px;
    margin-top: 30px;
}

@media(max-width: 1336px) {
    .square {
        width: 350px;
        height: 350px;
    }
}

@media(max-width: 1156px) {
    .square {
        width: 300px;
        height: 300px;
    }
}

@media(max-width: 710px) {
    .square {
        margin-right: 0;
    }
}

.square:nth-child(3) {
    margin-right: 0;
}

.main__item {
    width: 100%;
    height: 100%;
}

.main__item-button {
    background-color: #78dec7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__item-btn {
    position: relative;
    padding: 15px 34px 16px 60px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.main__item-btn::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 35px;
    background-image: url(img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    width: 20px;
    height: 20px;
    background-position: -35px -5px;
}

.main__item-btn:hover::before {
    background-position: -5px -35px;
}

.main__item-text {
    width: 350px;
    height: 350px;
    background-color: #78dec7;
    border: 30px solid #d62ad0;
}

@media(max-width: 1336px) {
    .main__item-text {
        width: 300px;
        height: 300px;
        border: 25px solid #d62ad0;
    }
}

@media(max-width: 1156px) {
    .main__item-text {
        width: 270px;
        height: 270px;
        border: 15px solid #d62ad0;
    }
}

.main__item-text-paragraph {
    max-width: 290px;
    margin-left: 30px;
    margin-top: 30px;
}

@media(max-width: 1156px) {
    .main__item-text-paragraph {
        margin-left: 15px;
        margin-top: 15px;
        max-width: 240px;
    }
}

.main__item-radius {
    background-color: #fb7afc;
    border-radius: 30px;
}

.main__item-bg {
    background-color: #fbc7f7;
}

@media(max-width: 1336px) {
    .main__item-image-img {
        width: 350px;
        height: 350px;
    }
}

@media(max-width: 1156px) {
    .main__item-image-img {
        width: 300px;
        height: 300px;
    }
}


/* footer */

.footer {
    background-color: #333333;
    padding-top: 26px;
    padding-bottom: 26px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__content-copyright {
    color: #ffffff;
}

.footer__content-copyright:hover {
    text-decoration: underline;
}